<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div *ngFor="let field of inputFormJson" [ngClass]="field.colClass" class="mb-4 form-group">
      <label [for]="field.label" class="mb-2">
        {{ field.label }} <span class="text-danger" *ngIf="field?.validation_required">*</span>
      </label>

      <div [ngSwitch]="field.type">
        <input
        *ngSwitchCase="'text'"
        [formControlName]="field.input_key"
        [type]="field.type"
        [placeholder]="field.placeholder"
        class="form-control"
        [readonly]="field.read_only ? true : null"
      />
      

        <input
          *ngSwitchCase="'password'"
          [formControlName]="field.input_key"
          [type]="field.type"
          [placeholder]="field.placeholder"
          class="form-control"
        />

        <input
          *ngSwitchCase="'email'"
          [formControlName]="field.input_key"
          [type]="field.type"
          [placeholder]="field.placeholder"
          class="form-control"
        [readonly]="field.read_only ? true : null"

        />

        <input
          *ngSwitchCase="'number'"
          [formControlName]="field.input_key"
          [type]="field.type"
          [placeholder]="field.placeholder"
          class="form-control"
        />

        <input
          *ngSwitchCase="'date'"
          [formControlName]="field.input_key"
          [type]="field.type"
          [placeholder]="field.placeholder"
          class="form-control"
        />
        @if(field.type==='file'){
          <div class="img-sec">
            <div id="image-upload">
              <input
              *ngSwitchCase="'file'"
              type="file"
              class="form-control-file"
              (change)="onFileSelected($event, field.input_key)"
              />
            </div>
            {{filePreviews[field.input_key]}}
            <div class="img-fluid">
              <i class="fa fa-times pointer delete-icon" *ngIf="filePreviews[field.input_key]" (click)="onDelete(field.input_key)"></i>
              <img
              *ngIf="filePreviews[field.input_key]"
              [src]="filePreviews[field.input_key]"
              class=" mt-2"
              style="max-width: 260px; display: block;"
              />
            </div>
          </div>
        }

        <select *ngSwitchCase="'select'" [formControlName]="field.input_key" class="form-control">
          <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
        </select>
      </div>

      <div class="text-danger" *ngIf="form.get(field.input_key)?.touched && form.get(field.input_key)?.invalid">
        {{ getError(field) }}
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</form>
